* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(fondo.png);
  

  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay > div > button {
  font-size: 18px;
  padding: 20px 40px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.overlay > div:first-child {
  background-color: #F252D8;
}

.overlay > div:nth-child(2) {
  background-color: #27F2DE;
}

.overlay > div:last-child {
  background-color: #58F252;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .overlay > div {
    flex-direction: row;
  }
  .overlay > div > button {
    flex: 1;
    font-size: 16px;
  }
}
